.movie_poster{
  height: 340px;
  width: 340px;
  object-fit: cover;
}

.movie_name{
  font-size: 24px;
}


.movie_specs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.movie_container{
  background-color: rgb(114, 105, 122);
  width: 340px;
  margin-top: 10px;
  
}
.toggle{
  margin-left: 134px;
}

.movie_summary{
  padding-left: 10px;
}

.movie_list{
  display: grid;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}

body{
  margin: 24px;
  /* background-image: url("https://wallpaperaccess.com/full/1393192.jpg"); */
}
.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: min-content;
  margin-top: 20px;
 
}
.game-box{
  height: 7rem;
  width: 7rem;
  border:1px solid black;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
 cursor: pointer;
}
.game-box:hover{
  background-color: rgb(228, 228, 222);
}

.add-movie-form
{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  margin: 0.5rem;
}

.movie-action{
  display: flex;
  gap: 0.5rem;
 
}

.button{
  display: flex;
  flex-direction: row;
}
.piece{
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: space-between;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.Bar{
display: flex;
justify-content:space-arounds;
}